#canvas{
padding-left: 0;
 padding-right: 0;
 margin-left: auto;
 margin-right: auto;
display: block;
background-color: rgb(114, 161, 70);
width: 1200px;
height: 800px;

}

.titulo{

    text-align: center;
    font-size: 48pt;
    font-family: fantasy;
    color: cornflowerblue;

}

#iniciar{
background-color: rgb(75, 75, 129);
margin-left: auto;
margin-right: auto;
width:max-content;
height:max-content;

}